In [4]:
import pandas as pd

In [10]:
s=pd.Series(['Abhi',"Bro","Code"])

In [11]:
s

0    Abhi
1     Bro
2    Code
dtype: object

In [12]:
df=pd.DataFrame(['sun','yun','zin'],columns=['Name'],index=[50,250,750])

In [13]:
df

    Name
50   sun
250  yun
750  zin

In [14]:
import numpy as np

In [15]:
from numpy import random

In [16]:
d=pd.DataFrame(np.random.randn(4,4),columns=['col1','col2','col3','col4'])

In [11]:
d

       col1      col2      col3      col4
0 -0.158662 -0.609085 -0.298430 -1.047756
1 -0.264318  1.292244  0.697093 -0.279947
2  0.897944 -0.757359 -0.023381 -0.643884
3  1.393121  0.642486  1.029072  0.390159

In [17]:
d.loc[2]

col1   -2.204673
col2   -0.572347
col3   -1.197842
col4    0.753364
Name: 2, dtype: float64

In [19]:
y=d.iloc[2]

In [20]:
y

col1   -2.204673
col2   -0.572347
col3   -1.197842
col4    0.753364
Name: 2, dtype: float64

In [34]:
d['col4']=d['col1']+d['col2']

In [21]:
d

       col1      col2      col3      col4
0 -0.642918  0.912189  0.993779 -0.726708
1  0.962259  0.129275  0.896007  0.548649
2 -2.204673 -0.572347 -1.197842  0.753364
3 -1.117049 -0.208327 -0.452542 -0.180676

In [22]:
d.shape

(4, 4)

In [23]:
d.size

16

In [24]:
type(d)

pandas.core.frame.DataFrame

In [25]:
type(d['col1'])

pandas.core.series.Series